1kmodels/
2kmodels/
3kmodels/
4kmodels/
5kmodels/
clustercenter/
dtw/
frechet/
geokfoldmodels0/
geokfoldmodels1/
geokfoldmodels2/
geokfoldmodels3/
geokfoldmodels4/
kfoldmodels0/
kfoldmodels1/
kfoldmodels2/
kfoldmodels3/
kfoldmodels4/
models_v2/
modelsk5/
modelsk8/
modelsk12/
modelsk14/
modelstate4/
spatial_dist/
subtrajs/
traindata/
wd/
subtrajcluster/test.py





